.piano-wrapper {
    flex-grow: 2;
}

.piano-keys {
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    border-top: 4px solid #ebeae8;
}

.piano-controls {
    margin-top: 10px;
}

.piano-controls select {
    margin-right: 20px;
}

.piano-key {
    position: absolute;
    height: 100%;
    /*border: 1px solid #888;*/
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    /*flex: 1 1;*/
    margin-right: 1px;
    /*background: #f6f5f3;*/
    /*color: #000;*/
    top: 0;
    z-index: 0;
}

/*
.piano-key-nor {
    z-index: 0;
}
*/

/* PIANO KEYS COLORS */

/* white key default */
.piano-key {
    background: #f6f5f3;
    color: #333;
    border: 1px solid #999;
}

/* white key when played */
.piano-keyboard div.piano-played {
    /*background-color: cornflowerblue;*/
    background-color: orange;
    /*color: #333;*/
}

/* non played white key when hovered */
.piano-keys > div.piano-key.piano-hovered {
    background-color: var(--piano-white-key-hover-bg);
    color: var(--piano-white-key-hover-text);
}

/* played white key when hovered */
.piano-keys > div.piano-played.piano-hovered {
    background-color: var(--piano-white-key-hover-bg);
    color: var(--piano-white-key-hover-text);
}

.piano-key-black {
    z-index: 1;
    /*width: 90px;*/
    height: 66%;
    position: absolute;
    /*background-color: #333;*/
    /*color: #ddd;*/
}

/* black key default */
.piano-key-black {
    background-color: #333;
    /*color: #eee;*/
    border: 1px solid #333;
    border-top: 0;
    color: #333;
}

/* non played black key when hovered */
.piano-keys > div.piano-key-black.piano-hovered {
    background-color: var(--piano-black-key-hover-bg);
    color: var(--piano-black-key-hover-text);
}

/* black key when played */
.piano-keyboard div.piano-key-black.piano-played {
    /*background-color: blue;*/
    background-color: orange;
    /*border: 2px solid #333;*/
    /*border-top: 0;*/
    /*color: #333;*/
}

/* played black key when hovered */
.piano-keys > div.piano-key-black.piano-played.piano-hovered {
    /*background-color: darkred;*/
    background-color: yellowgreen;
    /*border: 2px solid #333;*/
    /*border-top: 0;*/
    /*color: #333;*/
}

/* PIANO KEY TEXT*/

.piano-key .i {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.piano-key-black .i {
    color: #fff;
}

.piano-key-midi-num {
    font-size: small;
    margin-bottom: 4px;
}

.piano-key-disabled {
    color: #ccc;
}

